/*  editable column titles  */
*[data-placeholder]:not(:focus):not([data-div-placeholder-content]):before {
    content: attr(data-placeholder);
    float: left;
    margin-left: 2px;
    color: #b3b3b3;
}

/*  column highlight colours  */
.k_highlight_FFCC00 {
  background-color: #FFCC00 !important;
  color : #000000;
}

.k_highlight_FF6600 {
  background-color: #FF6600 !important;
  color : #000000;  
}

.k_highlight_3EA99F {
  background-color: #3EA99F !important;
  color : #000000;  
}

.k_highlight_FF99FF {
  background-color: #FF99FF !important;
  color : #000000;  
}

.k_highlight_82CAFF {
  background-color: #82CAFF !important;
  color : #000000;  
}

.k_highlight_99CCFF {
  background-color: #99CCFF !important;
  color : #000000;  
}

.k_highlight_FF00FF {
  background-color: #FF00FF !important;
  color : #000000;  
}

.k_highlight_CC33FF {
  background-color: #CC33FF !important;
  color : #000000;  
}

.k_highlight_CCFF00 {
  background-color: #CCFF00 !important;
  color : #000000;  
}

.k_highlight_0099CC {
  background-color: #0099CC !important;
  color : #000000;  
}

.k_highlight_FFCCFF {
  background-color: #FFCCFF !important;
  color : #000000;  
}

.k_highlight_33FF33 {
  background-color: #33FF33 !important;
  color : #000000;  
}

.k_highlight_FFFF99 {
  background-color: #FFFF99 !important;
  color : #000000;  
}

img.k_highlight_FFCC00 
img.k_highlight_FF6600 
img.k_highlight_3EA99F
img.k_highlight_FF99FF 
img.k_highlight_82CAFF
img.k_highlight_99CCFF
img.k_highlight_FF00FF
img.k_highlight_CC33FF
img.k_highlight_FFCCCC
img.k_highlight_CCFF00
img.k_highlight_0099CC
img.k_highlight_FFCCFF
img.k_highlight_33FF33
img.k_highlight_FFFF99
{
  opacity: 0.5 !important;
}

/************************  notifications  *************************/
.k_alert_boxes {
  width : 269px;
  height : 21px;
  font-size : 14px;  
  line-height : 21px;
  padding : 8px 35px 8px 14px;
  border : 1px;
  -webkit-border-radius : 4px;
  border-radius : 4px;
  -moz-border-radius : 4px;
}

.k_message{
  z-index: 999999;
  position: fixed;
  top: -50px; 
  right: 10px; 
  text-align: right;
  color : #0088cc;
  background-color: #d9edf7;
  border : #fbeed5;
  font-size : 14px;
  font-family : "Metrophobic","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.k_message a, .k_message span {
  color : #0088cc;
  font-size : 14px;
  font-weight : normal;
}

.k_message b {
  font-weight : bold;
}


.k_option{
  z-index: 999999;
  position: fixed;
  top: -50px; 
  right: 10px; 
  text-align: right;
  color : #0088cc;
  background-color: #fcf8e3;
  border : #fbeed5;
  font-family : "Metrophobic","Helvetica Neue",Helvetica,Arial,sans-serif;  
}

.k_option_button{
  /* float: left; */
}

.k_info{
  background-color: #d9edf7;
}


.k_info:before {
  content : "Info : ";
  font-weight :bold;

}

.k_error{
  background-color: #f2dede;
}

.k_error:before {
  content: "Error : ";
  font-weight :bold;
  color: #b94a48;   
}

.k_message.k_error a, .k_message.k_error span {
  color : #b94a48;
  font-size : 14px;
  font-weight : normal;
}
     
.k_warning{
  background-color: #eaaf51;
  border-color: #d99a36;
}

.k_success{
  background-color: #61b832;
  border-color: #55a12c;
}

.k_message h3{
  margin: 0 0 0px 0;                          
}

.k_message p{
  margin: 0;                          
}

#k_message_close_button{
  position : relative;
  top : -2px;
  right : -21px;
  line-height : 20px;
  font-size : 20px;
  font-weight : bold;
  color : #000;
  text-shadow : #ffffff;
  opacity : 0.2;
  filter : alpha(opacity=20);
  float: right;
  /* margin-top: -30px; */
  min-width:20px;
  min-height:20px;
  z-index: 999991;
  cursor : pointer;
}

/*
@keyframes animate-bg {
    from {
        background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}
*/

.k_panel button[disabled="disabled"] {
  cursor : default;
}