.getdata-sidebar {
  background-color: #000;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;
  font-family: "helvetica";
  font-weight: 100;  
}

.getdata-sidebar #header {
  height: 18px;
  padding-left: 23px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #c66a09;
}

.getdata-sidebar #header img {
  height: 18px;
  width: 22px;
  float: left;
  margin-right: 5px;
}

.getdata-sidebar #header div {
  height: 18px;
  width: 100px;
  font-size: 12px;
  line-height: 22px;
  text-transform:uppercase;
  color: #fff;
  float: left;
}

.getdata-sidebar #add_columns {
  height: 25px;
  width: 140px;
  margin: 20px;
  background-color: #086cb9;
  text-transform: uppercase;
  border: 1px #207ac0;
  color: #fff;
  cursor: pointer;
  text-align: center;
  font-size: 10px;
  line-height: 25px;
}

.getdata-sidebar #add_columns:hover {
  border: 1px #207ac0;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.4);
}

.getdata-sidebar #columns {
  overflow: scroll;
}

.getdata-sidebar .column {
  background-color: #2b2825;
  width: 180px;
  height: 30px;
}

.getdata-sidebar .curr_page.column {
  background-color: #2b2825;
}

.getdata-sidebar .curr_page.column.active {
  background-color: #2b2825;
}

.getdata-sidebar .column .stick-holder {
  width: 40px;
  height: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  float: left;
}

.getdata-sidebar .column .stick-holder .stick-non-pagination {
  width: 3px;
  height: 20px;
  padding-right: 2px;
}

.getdata-sidebar .column .col-name {
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;  
  float: left;
  height: 20px;
  width: 100px;
  margin-top: 5px;
  margin-bottom: 5px;  
  padding-left: 3px;
  padding-right: 3px;
  overflow: hidden;
  white-space: nowrap;
}

.getdata-sidebar .column .col-name:focus {
  background-color: #221f1c;
  outline: none;
}

.getdata-sidebar .column .stick-holder .stick-pagination {
  width: 4px;
  height: 20px;
  padding-right: 1px;
}

.getdata-sidebar .column .counter-holder {
  float: left;
  width: 20px;
  height: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.getdata-sidebar .column .counter-holder .counter {
  font-size: 12px;
  background-color: #fff;
  border-radius:15px;
}

/** Color Scheming **/
[getdata_color] {
  cursor: pointer;
}