<div id='getdata-header'>
  {{{img "images/logo-a.png" "logo" "logos" }}}
  <div id='name'>Get Data.IO</div>
</div>

<div class='buttons_holder'>
  <div id='add_columns' class="sidebar-button">Add Data Attribute</div>
</div>

<div id='columns'></div>

<div class='buttons_holder'>
  <div id="add_pagination" class="sidebar-button"></div>
  <div id='save_holder' class="sidebar-button">Save</div>
</div>
