<div id='header'>
  {{{img "images/logo-a.png" "logo" "logos" }}}
  <div id='name'>Get Data.IO</div>
</div>

<div id='add_columns'>Add Data Attribute</div>

<div id='columns'></div>

<div id='pagination_holder'></div>
<div id='done_holder'>
  
</div>