<div id='getdata-header'>
  {{{img "images/logo-a.png" "logo" "logos" }}}
  <div id='name'>Get Data.IO</div>
</div>

<div class='buttons_holder'>
  <div  id='save_holder' 
        data-toggle="tooltip" 
        tooltip-content="Send data source to GetData.IO for crawling"
        class="sidebar-button fa fa-arrow-circle-right"></div>

  <div  id="add_pagination" 
        data-toggle="tooltip"
        tooltip-content="Set pagination"
        class="sidebar-button fa fa-unlink"></div>

  <div  id='add_columns' 
        data-toggle="tooltip"
        tooltip-content="Add more attributes to this data source"
        class="sidebar-button fa fa-plus"></div>

  <div class="clearer"></div>
</div>

<div id='columns'></div>
<div id='krake-tooltip'>
  My tooltip
</div>
