<div id='getdata-header'>
  {{{img "images/logo-a.png" "logo" "logos" }}}
  <div id='name'>Get Data.IO</div>
</div>

<div class='buttons_holder'>
  <div  id='save_holder' 
        class="sidebar-button fa fa-arrow-circle-right" 
        data-toggle="tooltip" data-placement="top" title="Tooltip on top"></div>

  <div  id="add_pagination" 
        data-toggle="tooltip" data-placement="top" title="Click to "
        class="sidebar-button fa fa-unlink"></div>

  <div  id='add_columns' 
        data-toggle="tooltip" data-placement="top" title="Add more properties"
        class="sidebar-button fa fa-plus"></div>

  <div class="clearer"></div>
</div>

<div id='columns'></div>
